 header, footer {
  background-color: #eed;
  margin: -9px;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
}

header, footer, form {
  font-family: 'Gill Sans', 'Gill Sans MT', Arial, 'sans serif';
}

header {
  border-bottom: 1px solid #335;
}

footer {
  background: #eed url('../img/Powered-by-Toolforge.png') no-repeat right;
  background-position-y: 20px;
  border-top: 1px solid #335;
  box-shadow: 0 50vh 0 50vh #eed;
  margin-top: 3em;
  min-height: 80px;
}

form {
  margin: 3em 1em 0;
  padding-bottom: 2em;
}

input.error {
  background-color: #f1e545;
  border-color: #e79f26;
}

header a, footer a { text-decoration: none; }

a { color: #0773b3; }

span.added      { color: #02a074; font-weight: bold;}
span.boring     { color: #bbb; }
span.changed    { color: #5eb3e5; font-weight: bold;}
span.reddish    { color: #cc79a7; }
span.removed    { color: #e79f26; font-weight: bold;}
span.subitem    { color: #666; }
span.subsubitem { color: #999; }
span.warning    { color: #d36027; }
