 header, footer {
  background-color: #eed; 
  padding: 0.5em 1em;
  margin: -9px;
  text-align: center;
  text-decoration: none;
}

header, footer, form {
  font-family: 'Gill Sans', 'Gill Sans MT', Arial, 'sans serif'; 
}

header {
  border-bottom: 1px solid #335;
}

footer {
  margin-top: 3em;
  border-top: 1px solid #335;
  box-shadow: 0 50vh 0 50vh #eed;
}

form {
  background: url('../img/Powered-By-Toolforge.png') no-repeat bottom right;
  padding-bottom: 2em;
  margin: 3em 1em 0;
}

header a, footer a { text-decoration: none; }

a { color: #0773b3; }

span.warning    { color: #d36027; } 
span.added      { color: #02a074; font-weight: bold;}
span.removed    { color: #e79f26; font-weight: bold;}
span.changed    { color: #5eb3e5; font-weight: bold;}
span.reddish    { color: #cc79a7; }
/* Other colours from colourblind palette: Yellow: #f1e545; */
span.subitem    { color: #666; }
span.boring     { color: #bbb; }
span.subsubitem { color: #999; }