/.phplint.cache/*
/.phpunit.cache/*
/clover.xml
/core
/coverage
/coverage.xml
/junit.xml
/env.php
/DebugLog.txt
/tmp/*
/vendor/*
/node_modules/
/playwright-report/
/test-results/
/phpunit.local.xml
/.worktrees/
