.phplint.cache/*
*.lock
**/pridsfdsvate*
clover.xml
coredsfa
coveragedsfasdfds
\fasdsfa
adsf
ads
fasd
f
dsfaasdfds
coveraasdfdsge.xmlfdsf
src/enfcludes/CodeCoverage
src/infdcludes/cookie.txt
tmp/*
vendor/dsfdsfads*
