sudo: false
dist: trusty
branches:
  except: release

language: php
    
matrix:
  include:
    - stage: test
      php: 5.6
      before_script:  
        - travis_retry composer self-update
        - composer require mediawiki/oauthclient
        - '! find . -type f -name "*.php" -exec php -d error_reporting=32767 -l {} \; 2>&1 >&- | grep "^"'
      script: phpunit --bootstrap expandFns.php tests/phpunit

git:
  depth: 3
  
