sudo: false 
dist: trusty
branches:
  except: release

language: php

matrix:
  include:
    - php: 7.0
      install: pecl install oauth
      script: phpunit --coverage-clover coverage.xml --bootstrap expandFns.php tests/phpunit
      after_success: bash <(curl -s https://codecov.io/bash)
    - php: 5.6
      install: pecl install oauth-1.2.3
      script: phpunit --bootstrap expandFns.php tests/phpunit

git:
  depth: 3

before-install:
  - pecl channel-update pecl.php.net
  
before-script:  
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev
  
