sudo: false
dist: trusty
branches:
  except: release

language: php
matrix:           ###### ONLY ONE WITH FULL TESTING WITH IS 7.3 OTHERS ARE ALL STATIC ANALYSIS ONLY ######
  include:
      name: "Full test with PHP 7.3"
      php: 7.3
      before_script:  
        - travis_retry composer self-update
        - composer require mediawiki/oauthclient:1.1.0
        - '! find . -type f -name "*.php" -exec php -d error_reporting=32767 -l {} \; 2>&1 >&- | grep "^"'
      script: phpunit
git:
  depth: 222
  
