<?php
if (!getenv('PHP_OAUTH_CONSUMER_TOKEN')) {
  echo "\n Reading authentication tokens.\n";
  // Bot OAuth authentication
  putenv('PHP_OAUTH_CONSUMER_TOKEN=xxxxx');
  putenv('PHP_OAUTH_CONSUMER_SECRET=xxxxx');
  putenv('PHP_OAUTH_ACCESS_TOKEN=xxxxx');
  putenv('PHP_OAUTH_ACCESS_SECRET=xxxxx');
  
  // OAuth authentication as Wikipedia user
  putenv('PHP_WP_OAUTH_CONSUMER=xxxxx');
  putenv('PHP_WP_OAUTH_SECRET=xxxxx');
  
  // API keys
  putenv('PHP_GOOGLEKEY=xxxxx');    // For https://www.googleapis.com/books/v1/volumes?q=oclc:61313128 and such, not used right now
  putenv('PHP_ADSABSAPIKEY=xxxxx'); // https://ui.adsabs.harvard.edu/help/api/
  putenv('PHP_S2APIKEY=xxxxx');     // Doing lots of requests to semanticscholar.org without a key gets you blocked
  putenv('GITHUB_PAT=xxxxx');       // This is for doing gitpull, etc.  But not running bot
}

