<?php
if (!getenv('PHP_OAUTH_CONSUMER_TOKEN')) {
  echo "\n Reading authentication tokens.\n";
  putenv('PHP_OAUTH_CONSUMER_TOKEN=xxxxx');
  putenv('PHP_OAUTH_CONSUMER_SECRET=xxxxx');
  putenv('PHP_OAUTH_CONSUMER_TOKEN_BOT=xxxxx');
  putenv('PHP_OAUTH_CONSUMER_SECRET_BOT=xxxxx');
  putenv('PHP_OAUTH_ACCESS_TOKEN=xxxxx');
  putenv('PHP_OAUTH_ACCESS_SECRET=xxxxx');
  putenv('PHP_GOOGLEKEY=xxxxx');
  putenv('PHP_ADSABSAPIKEY=xxxxx');
  putenv('GITHUB_PAT=xxxxx');
}
?>
