<?php
if (!getenv('PHP_OAUTH_CONSUMER_TOKEN')) {
  echo "\n Reading authentication tokens.\n";
  // Bot OAuth authentication
  putenv('PHP_OAUTH_CONSUMER_TOKEN=xxxxx');
  putenv('PHP_OAUTH_CONSUMER_SECRET=xxxxx');
  putenv('PHP_OAUTH_ACCESS_TOKEN=xxxxx');
  putenv('PHP_OAUTH_ACCESS_SECRET=xxxxx');
  
  // OAuth authentication as Wikipedia user
  putenv('PHP_WP_OAUTH_CONSUMER=xxxxx');
  putenv('PHP_WP_OAUTH_SECRET=xxxxx');
  
  // API keys
  putenv('PHP_GOOGLEKEY=xxxxx');
  putenv('PHP_ADSABSAPIKEY=xxxxx');
  putenv('PHP_S2APIKEY=xxxxx');
  putenv('GITHUB_PAT=xxxxx');
}

