
parameters:
     autoload_files:
       - %currentWorkingDirectory%/user_messages.php
       - %currentWorkingDirectory%/wikiFunctions.php
       - %currentWorkingDirectory%/expandFns.php
       - %currentWorkingDirectory%/Comment.php
       - %currentWorkingDirectory%/Parameter.php
       - %currentWorkingDirectory%/DOItools.php
       - %currentWorkingDirectory%/apiFunctions.php
       - %currentWorkingDirectory%/Template.php
       - %currentWorkingDirectory%/constants.php
       - %currentWorkingDirectory%/Page.php
       - %currentWorkingDirectory%/WikipediaBot.php
