<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="exampleFns.php"
         stopOnError="false">
  <testsuites>
    <testsuite name="TestSuite">
      <directory suffix=".php">./tests/phpunit</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">.</directory>
      <exclude>
        <file>./doibot.php</file>
        <file>./gadgetapi.php</file>
        <file>./login.php</file>
        <file>./Snoopy.class.php</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>