name: Spell Check
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Run codespell
        uses: codespell-project/actions-codespell@v2
        with:
          check_filenames: true
          skip: .git,vendor,node_modules,*.lock,composer.json,docs/architecture.svg,src/includes/constants/null_bad_doi.php,src/includes/constants/null_good_doi.php
          exclude_file: src/includes/constants/bad_data.php
          ignore_words_list: ist,nd,te,mot,als,serie,archiv,histori,jornal,studi,efort,mis,nast,aas,oficial,inthe,ofthe,ned,notin,ans,dum,duh,espace,isssue,tittle,auhtor,auther,indes,wapper,candidat,valide,fpr,fpt,ehr,haa,clen,tre,ihs,hel,ane,pres,aer,ths,fro,nin,sais,ser,stap,acn,memor,inted,boun,whe,fo,strat,seh,vas,jist,aci,ect,lien,thay,alls,stings,theses,independ,brough,doubleclick,2st,hepl
