name: PHP Static Security Tests - DesignSecurity

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '25 17 * * 1'

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v6.0.0

    - name: Setup PHP without PCOV
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.4'

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install -vvv --no-progress

    - name: PHP Design Security
      run: ./vendor/bin/progpilot --configuration progpilot.yml category.php generate_template.php gitpull.php linked_pages.php process_page.php authenticate.php
