name: HTML5 and CSS Validator

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]
    schedule:
        - cron: '25 17 * * 1'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v6.0.2

    - name: Run validator
      uses: Cyb3r-Jak3/html5validator-action@v8.0.0
      with:
        root: src/
        css: true
        log_level: INFO
