name: PHP Static Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '25 17 * * 1'

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2

    - name: Setup PHP with PCOV
      uses: shivammathur/setup-php@v2
      with:
        php-version: '7.4'
        ini-values: pcov.directory=.
        coverage: pcov

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Configure composer and dependencies
      run: composer config allow-plugins.third-party/required-plugin true && composer config minimum-stability dev && composer config prefer-stable true && composer require overtrue/phplint  phpstan/phpstan   mediawiki/oauthclient:1.2.0  phan/phan vimeo/psalm designsecurity/progpilot phpunit/phpunit
      
    - name: Install dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: composer install --prefer-dist  -vvv --no-progress

    - name: PHP Lint test
      run: ./vendor/bin/phplint --exclude=vendor --no-interaction -vv ./

    - name: PHP phpstan
      run: php ./vendor/bin/phpstan --no-interaction analyse --memory-limit=2G constants/*.php html_headers.php Parameter.php user_messages.php constants.php expandFns.php Zotero.php apiFunctions.php NameTools.php Comment.php Page.php WikipediaBot.php Template.php setup.php category.php generate_template.php linked_pages.php unlock_git.php process_page.php authenticate.php

    - name: PHP phan
      run: php ./vendor/bin/phan --analyze-twice --allow-polyfill-parser constants/*.php html_headers.php constants.php Comment.php user_messages.php  Parameter.php expandFns.php  NameTools.php WikipediaBot.php Template.php Zotero.php apiFunctions.php Page.php setup.php category.php generate_template.php gitpull.php linked_pages.php process_page.php authenticate.php unlock_git.php

    - name: PHP Design Security
      run: ./vendor/bin/progpilot html_headers.php category.php generate_template.php gitpull.php linked_pages.php process_page.php authenticate.php unlock_git.php

    - name: PHP psalm Taint
      run: php ./vendor/bin/psalm --taint-analysis
      
    - name: PHP psalm
      run: php ./vendor/bin/psalm

    - name: Size limit to make sure search works
      uses: actionsdesk/lfs-warning@v3.1
      with:
        filesizelimit: 393000b
     
      
