name: PHP Static Security Tests - PHP Security Checker

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '25 17 * * 1'

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v6.0.0

    - name: PHP Security Checker
      uses: StephaneBour/actions-php-security-checker@1.2
