name: PHP Security Checker

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '25 17 * * 1'

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v6.0.2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.4'
        coverage: none

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Create composer.lock file
      run: composer update --no-install

    - name: PHP Security Checker
      uses: StephaneBour/actions-php-security-checker@1.2
