name: PHP Static Security Tests - psalm

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '25 17 * * 1'

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v6.0.0

    - name: Setup PHP with PCOV
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.4'
        ini-values: pcov.directory=.
        coverage: pcov

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install -vvv --no-progress

    - name: PHP psalm Taint
      run: php ./vendor/bin/psalm --taint-analysis --php-version='8.4'
