name: PHP Static Size Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '25 17 * * 1'

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v6.0.0

    - name: Size limit to make sure search works
      uses: actionsdesk/lfs-warning@v3.3
      with:
        filesizelimit: 358400b


# https://docs.github.com/en/search-github/github-code-search/about-github-code-search
# Only files smaller than 350 KiB are searchable  
      
