name: Bot Full Test Suite

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '25 17 * * 1'

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v6.0.1

    - name: Setup PHP with PCOV
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.4'
        ini-values: pcov.directory=.
        coverage: pcov
        extensions: mbstring, intl, sockets, opcache, openssl, xmlrpc, gettext, curl, iconv, pcre, lzf, zstd, zip, yaml, pcntl

    - name: Validate composer.json and composer.lock
      run: echo "The event that triggered this workflow is ${{ github.event_name }}"
