name: Bot Full Test Suite

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'
      - '.github/workflows/codeql-analysis.yml'
      - '.github/workflows/DesignSecurity.yml'
      - '.github/workflows/phan.yml'
      - '.github/workflows/PHPChecker.yml'
      - '.github/workflows/phplint.yml'
      - '.github/workflows/phpstan.yml'
      - '.github/workflows/psalm-security.yml'
      - '.github/workflows/psalm.yml'
      - '.github/workflows/size-limit.yml'
      - '.github/workflows/ThePHPChecker.yml'
      - '.github/workflows/trivy-analysis.yml'
      - '.github/workflows/YamlJson.yml'
      - '.github/workflows/html5check.yml'
      - '.gitignore'
      - '.phan'
      - '.phan/config.php'
      - 'docker-compose.yml'
      - 'Dockerfile'
      - 'index.html'
      - 'LICENSE'
      - 'phpstan.neon'
      - 'progpilot.json'
      - 'progpilot.yml'
      - 'psalm.xml'
      - '.trivyignore'
      - '.phpcs.xml'
      - '.phplint.yml'
      - 'tests/phpunit/README.md'

  schedule:
    - cron: '25 17 * * 1'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v6

    - name: Setup PHP with PCOV
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.4'
        ini-values: pcov.directory=.
        coverage: pcov
        extensions: mbstring, intl, sockets, opcache, openssl, xmlrpc, gettext, curl, iconv, pcre, lzf, zstd, zip, yaml, pcntl

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install -vvv --no-progress

    - name: Full test with PHP
      env:
         PHP_ADSABSAPIKEY: ${{ secrets.PHP_ADSABSAPIKEY }}
         PHP_OAUTH_CONSUMER_TOKEN: ${{ secrets.PHP_OAUTH_CONSUMER_TOKEN }}
         PHP_OAUTH_CONSUMER_SECRET: ${{ secrets.PHP_OAUTH_CONSUMER_SECRET }}
         PHP_OAUTH_ACCESS_TOKEN: ${{ secrets.PHP_OAUTH_ACCESS_TOKEN }}
         PHP_OAUTH_ACCESS_SECRET: ${{ secrets.PHP_OAUTH_ACCESS_SECRET }}
         PHP_WP_OAUTH_SECRET: ${{ secrets.PHP_WP_OAUTH_SECRET }}
         PHP_WP_OAUTH_CONSUMER: ${{ secrets.PHP_WP_OAUTH_CONSUMER }}
         PHP_S2APIKEY: ${{ secrets.PHP_S2APIKEY }}
      run: composer run test

    - name: Manually look for weird stuff
      if: always()
      run: /bin/cat ./CodeCoverage

    - name: Code Coverage
      if:  ${{ !cancelled() && github.event_name != 'pull_request' }}
      uses: codecov/codecov-action@v5.5.2
      env:
         CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

