name: Bot Full Test Suite

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-18.04 ### need for PHP 7.3 ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2

    - name: Setup PHP 7.3 with PCOV
      uses: shivammathur/setup-php@v2
      with:
        php-version: '7.4'
        ini-values: pcov.directory=.
        coverage: pcov

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Configure composer and dependencies
      run: composer config minimum-stability dev && composer config prefer-stable true && composer require mediawiki/oauthclient:1.2.0  phpunit/phpunit
      
    - name: Install dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: composer install --prefer-dist  -vvv --no-progress
      
    - name: Full test with PHP
      env:
         PHP_ADSABSAPIKEY: ${{ secrets.PHP_ADSABSAPIKEY }}
         PHP_GOOGLEKEY: ${{ secrets.PHP_GOOGLEKEY }}
         PHP_OAUTH_CONSUMER_TOKEN: ${{ secrets.PHP_OAUTH_CONSUMER_TOKEN }}
         PHP_OAUTH_CONSUMER_SECRET: ${{ secrets.PHP_OAUTH_CONSUMER_SECRET }}
         PHP_OAUTH_ACCESS_TOKEN: ${{ secrets.PHP_OAUTH_ACCESS_TOKEN }}
         PHP_OAUTH_ACCESS_SECRET: ${{ secrets.PHP_OAUTH_ACCESS_SECRET }}
         PHP_WP_OAUTH_SECRET: ${{ secrets.PHP_WP_OAUTH_SECRET }}
         PHP_WP_OAUTH_CONSUMER: ${{ secrets.PHP_WP_OAUTH_CONSUMER }}
         PHP_S2APIKEY: ${{ secrets.PHP_S2APIKEY }}
      run: ./vendor/bin/phpunit --coverage-clover coverage.xml

    - name: Code Coverage
      run: /bin/bash <(curl -s https://codecov.io/bash)
      
