name: PHP Static Security Tests - The PHP Security Checker

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '25 17 * * 1'

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v6.0.0

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install -vvv --no-progress

    - name: The PHP Security Checker
      uses: symfonycorp/security-checker-action@v5
